header {
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    border-bottom: 0.05px solid #5B5B5B;
    height: 2.7em;
    width: 100%;
    text-align: center;
    z-index: 2;
}
header p {
    font-family: fabrica;
    display: inline;
    overflow: hidden;
    line-height: 40px;
}
#name-header {
    color: #2B2B2B;
    font-weight: 1000;
    letter-spacing: 5px;
    font-size: 120%;
}
#name-header1 {
    color: #5B5B5B;
    letter-spacing: 5px;
    font-size: 120%;
}
.imagelogo img  {
    width: 20px;
    height: auto;
    float: left;
    margin-left: 14px; 
    margin-top: 7px;
}
header nav {
    float : right;
}
header nav a {
    display: inline-block;
    margin-left: -4px;
    text-decoration: none;
    color: #2B2B2B;
    width: 100px;
    height: auto;
    text-align: center;
    padding-top: 9px;
    font-family: fabrica;
}
header nav a:hover {
    border-top : 3px solid #494949;
    opacity: .8;
}
.last-child-nav {
    margin-right: 8px;
}
#current {
	border-top : 3px solid #494949;
}

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ffffff;
    border-top: 0.05px solid #5B5B5B;
    height: 2.3em;
    width: 100%;
}
footer h3 {
	font-family: fabrica;
	font-size: 14px;
	font-weight: 200;
	color: #2B2B2B;
	text-align: left;
	line-height: 7px;
	padding: 2px;
	margin-left: 15px;
	float: left;
}
footer a {
	font-size: 20px;
}
.fa {
    text-align: center;
    text-decoration: none;
    float: right;
    text-align: right;
    margin-top: 10px;
    text-decoration: none;
    margin-right: 32px;
}
footer i:hover {
	opacity: .6;
}
.fa-facebook {
	color: #5B5B5B;
}
.fa-twitter {
	color: #5B5B5B;
}
.fa-youtube {
	color: #5B5B5B;
}
.fa-instagram {
	color: #5B5B5B;
}
.fa-steam {
	color: #5B5B5B;
}
.fa-cloud-download {
    color: #ffffff;
}
.fa-search {
    color: #ffffff;
    margin-right: 10px;
}

div {
    margin-top: 70px;
    text-align: center;
    font-family: fabrica;  
}
div h1 {
    font-size: 30px;  
    border-bottom: 0.5px solid #975B5B5B;
    padding-bottom: 20px;  
    width: 450px;
    margin: auto;
}
div p {
    text-align: left;
    margin-top: 20px;          
    margin-left: 50px;
    -webkit-animation-delay: 0.2s;
}
.projectimg {
    float: left;
    width: 200px;
    height: 100px;
    margin: 0px;
    margin-top: 30px;
    margin-left: 20px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
}
#firstimg {
    margin-left: 120px;
}
.projectimg img{
    width: 200px;
    height: 140px;
    position: relative;
}
.projectimg p {
        padding-top: 30px;
        margin-top: -145px;
        margin-left: 0px;
        width: 200px;
        height: 110px;
        position: absolute;
        visibility: hidden;
        background: rgba(43, 43, 43, 0.8);
        color: #fff;
        opacity: 0;
        transition: opacity .5s, visibility .5s;
        z-index: 1;
        text-align: center;
}
.projectimg:hover p {
    visibility: visible;
    opacity: 1;
}
.projectimg a {
    padding-top: 20px;
    margin-top: -60px;
    margin-left: -100px;
    width: 200px;
    height: 120px;
    position: absolute;
    visibility: hidden;
    color: #fff;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
    z-index: 1;
    text-decoration: none;
}
.projectimg:hover a {
    visibility: visible;
    opacity: 1;
}
#download {
    margin-left: -80px;
}
#secondrowfirst {
    margin:0px;
    margin-top: 60px;
    margin-left: 120px;
}
#secondrow {
    margin: 0px;
    margin-top: 60px;
    margin-left: 20px;
}