body {
	margin: 0 10%;
	background-color: #eee8e0;
}
.header1 {
	font-family: Fabrica;
	margin-left: 1%;
	margin-top: -0.5%;
	font-size: 170%; 
	margin-bottom: 2.5%;
}
header {
	background-color: #FFF;
	padding: 1% 0 0 0;
}
nav ul {
	list-style-type: none;
	background-color: #333333;
	overflow: hidden;
	padding: 1%;
	margin-top: -2%;
}
nav ul li a {
	font-size: 100%;
}
nav ul li {
	display: block;
	float: left;
	margin: 0 2%;
}
nav ul li a:hover{ 
	background-color: black;
}
/*Article*/
article {
	background-color: #FFF;
	padding: 1%;
	float:left;
	width: 67%;
	margin-top: -1%;
	margin-bottom:2%;
} 
article h2 {
	font-size: 25px;
	margin-top: 1%;
}
article h4 {
	font-size: 17px;
	margin-top: -2%;
	color: #d3d3d3;
}
article p {
	margin-top: -2%;
	font-size: 15px; 
}
p {
	text-decoration: none;
	font-size: 150%
}
a {
	text-decoration: none;
}
header a:visited {
	color: #FFF;
}
header a:link {
	color: #FFF;
}
.paragraph1 {
	margin-top: 1%;
}
.add {
	background-color: #FFF;
	padding :1%;
	width: 28%;
	margin-left: 1%;
	margin-top: -29.65%;
	float: left;
}
h3 {
	margin-left : 2%; 
	line-height: 2%;
}
.add address {
	margin-left: 2%;
}
.sidebar {
	background-color: #FFF;
	padding :1%;
	width: 28%;
	margin-left: 1%;
	float: left;
	margin-top: -17%;
}
.sidebar ul {
	margin-top: -2%;
	list-style-type: none;
	float :left;
}
.sidebar a {
	font-size: 110%;
	color: #333333;
}
footer {
	background-color: #333333;
	margin-top: 60%;
	padding: 0.1%;
}
footer p {
	font-size: 100%;
	text-align: center;
}
/* Back */
.m-header {
	background-color: #666;
	width: 100%;
	height: 30px;
	font-family: fabrica;
	border-bottom: 2px solid orange;
	margin: 0;
}
.m-header p {
	float: left;
	color: white;
	letter-spacing: 2px;
	margin-left: 30px;
	font-size: 100%;
	margin-top: 0%;
}
.m-header a {
	float: right;
	text-decoration: none;
	color: white;
	line-height: 25px;
	letter-spacing: 1px;
}
.m-header i {
	float: right;
	line-height: 25px;
	margin-right: 15px;
	color: white;
}