body {
	margin: 0;
	padding: 0;
	background-color: white;
}
.logo img {
	width: 60px;
	height: auto;
	padding: 0;
	margin-top: -2px;
	float: left;
}

/* Header And Footer */
/* Header */
header {
	background-color: #666;
	border-bottom: 3px solid orange;
	width: 100%;
	height: 55px;
	margin-bottom: 0;
}
/* Footer */
footer {
	background-color: #666;
	border-top: 3px solid orange;
	width: 100%;
	height: 40px;
	clear: both;
}
footer h3 {
	font-family: fabrica;
	font-size: 14px;
	font-weight: 200;
	color: #FFF;
	text-align: left;
	line-height: 5px;
	padding: 2px;
	margin-left: 20px;
	float: left;
}
footer a {
	font-size: 20px;
}
.fa {
    text-align: center;
    text-decoration: none;
    float: right;
    text-align: right;
    margin-top: 10px;
    text-decoration: none;
    margin-right: 32px;
}
footer i:hover {
	opacity: .6;
}
.fa-facebook {
	color: white;
}
.fa-twitter {
	color: white;
}
.fa-youtube {
	color: white;
}
.fa-instagram {
	color: white;
}
.fa-steam {
	color: white;
}

/* Nav Bar Styling Start */
nav ul {
	float : right;
}
nav ul a {
	display: inline-block;
	width: 100px;
	text-align: center;
	list-style: none;
	text-decoration: none;
	color: #fff;
	font-family: fabrica;
	font-weight: 50;
	font-size: 15px;
}
nav ul a:last-child {
	margin-right: 20px;
}
nav ul li:hover {
	border : 2px solid #FFF;
	border-radius: 3px;
	opacity: .7;
}
#current {
	border : 2px solid #FFF;
	border-radius: 3px;
}
/* Navbar Styling End */

/* index.html */
/* About Start */
.about {
	text-align: center;
	background: url("img/ab.png");
	width: 100% - 2px;
	height: 328px;
	padding: 2px;
  -webkit-animation-duration : 2s;
}
.about h2{
	color: white;
	font-family: fabrica;
	letter-spacing: 3px;
	margin-top: 8%;
    -webkit-animation-delay: 0s;
}
.about p {
	font-size: 13px;
	color: white;
	font-family: fabrica;
	letter-spacing: 4px;
    -webkit-animation-delay: 0.2s;
}
/* About End */

/* Section 1 start */
.s1 {
	background-color: white;
	width: 100% - 2px;
	height : 180px;
	margin: 0;
	padding: 2px;
	border-bottom: 1px solid lightgrey;
    -webkit-animation-delay: 0.3s;
}
.s1 div {
	margin-left: 2.5%;
}
/* Div 1*/
.div1 {
	float: left;
}
.div1 i {
	float: left;
	text-align: center;
	font-size: 100px;
	color: #666;
	margin: 10% 5% 5% 5%;
}
.div1 h2 {
	font-family: fabrica;
	margin-top: 6%;
}
.div1 p {
	font-size: 15px;
	font-weight: 200;
	width: 400px;
	height: auto;
	font-family: fabrica;
	text-align: justify;
}
/* Div 2 */
.div2 {
	float: left;
}
.div2 i {
	float: left;
	text-align: center;
	font-size: 100px;
	color: #666;
	margin: 10% 5% 5% 5%;
}
.div2 h2 {
	font-family: fabrica;
	margin-top: 6%;
}
.div2 p {
	font-size: 15px;
	font-weight: 200;
	width: 400px;
	height: auto;
	font-family: fabrica;
	text-align: justify;
}
/* Div 3 */
.div3 {
	float: left;
}
.div3 i {
	float: left;
	text-align: center;
	font-size: 100px;
	color: #666;
	margin: 10% 5% 5% 5%;
}
.div3 h2 {
	font-family: fabrica;
	margin-top: 6%;
}
.div3 p {
	font-size: 15px;
	font-weight: 200;
	width: 400px;
	height: auto;
	font-family: fabrica;
	text-align: justify;
}
/* Section 1 end */
/* Faq header */
.faq-header {
	background-color: white;
	width: 100%;
	height: 50px;
	margin: 0;
	border-bottom: 1px solid lightgrey;
	overflow: hidden;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-duration: 0.5s;
}
.faq-header h1 {
	font-family: fabrica;
	font-size: 20px;
	text-align: center;
	line-height: 15px;
	letter-spacing: 4px;
}
/* faq */
.faq {
	background-color: white;
	overflow: hidden;
}
.faq p {
	margin-left: 25px;
	font-family: fabrica;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 20px;
}
.faq p a {
	text-decoration: none;
	color: black;
}
.faq div:first-child {
	margin-top: 25px;
}
.faq div:last-child {
	margin-bottom: 25px;
}
.faq div {
	margin: 0 auto;
	padding-top: 2px;
	margin-top: 15px;
	background-color: #white;
	border-bottom: 2px solid orange;
	border-top: 0.3px solid lightgrey;
	border-left: 0.3px solid lightgrey;
	border-right: 0.3px solid lightgrey;
	border-radius: 3px;
	width: 1200px;
	text-align: center;
}
/* contact.html */
/* Section 2 start */
.s2 {
	margin: 0;
	padding: 2px;
	background-color: white;
	height: 50px;
	border-bottom: 1px solid lightgrey;
}
.s2 h1 {
	font-family: fabrica;
	text-align: center;
	line-height: 10px;
	font-weight: 200;
	letter-spacing: 2px;
}
/* Section 2 end */
/* Section 3 start */
.s3 {
	width: 100%-2px;
	height: 492px;
}
.s3 i {
	color: #666;
	font-size: 50px;
	margin-left: 40px;
	margin-top: 20px;
	opacity: .8;
	float: left;
}
.s3 p {
	font-size: 20px;
	font-family: fabrica;
	line-height: 50px;
	letter-spacing: 2px;
	float: left;
}
.s3 div {
	width: 100%;
	height: 55px;
	float: left;
}
.email {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
}
.email i {
	margin-right: 20px;
}
.facebook {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
}
.facebook i {
	margin-right: 33px;
	margin-left: 48px;
}
.twitter {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
}
.twitter i {
	margin-right: 24px;
}
.steam {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
}
.steam i {
	margin-right: 20px;
}
.instagram {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
}
.instagram i {
	margin-right: 23px;
	margin-left: 45px;
}
/* Section 3 end */

/* Sidebar start */
.co-sidebar1 {
	background-color: white;;
	float: right;
	margin-top: -458px;
	margin-right: 35px;
	font-family: fabrica;
	width: 400px;
	border-bottom: 2px solid orange;
	border-top: 0.3px solid lightgrey;
	border-left: 0.3px solid lightgrey;
	border-right: 0.3px solid lightgrey;
	border-radius: 3px;
	padding: 3px 20px;
	-webkit-animation-duration: 10s;
	opacity: .8;
}
.co-sidebar1 h2{
	font-size: 15px;
	text-align: center;
	letter-spacing: 1px;
	padding-bottom: 10px;
	border-bottom: 1px solid orange;
}
.co-sidebar1 p {
	text-align: justify;
}
/* Sidebar end */
/* contact.html end */

/* design.html start */
/* About-ds start */
.about-ds {
	text-align: center;
	background: url("img/design.png");
	width: 100% - 2px;
	height: 328px;
	padding: 2px;
  -webkit-animation-duration : 2s;
}
.about-ds h2{
	color: grey;
	font-family: fabrica;
	letter-spacing: 3px;
	margin-top: 8%;
  -webkit-animation-delay: 0s;
}
.about-ds p {
	font-size: 13px;
	color: grey;
	font-family: fabrica;
	letter-spacing: 4px;
  -webkit-animation-delay: 0.2s;
}
/* Section 4 start */
.s4 {
	margin: auto 0;
	padding: 2px;
	width: 100%x;
	height: 220px;
	background-color: white;
	border-bottom: 2px solid orange;
	border-top: 0.3px solid lightgrey;
	border-left: 0.3px solid lightgrey;
	border-right: 0.3px solid lightgrey;
	border-radius: 3px;

}
.s4 div {
	float: left;
	margin-left: 15px;
	width: 300px;
}
.s4 div h1 {
	font-family: fabrica;
	font-weight: 200;
	font-size: 20px;
	letter-spacing: 3px;
}
.s4 div p {
	font-size: 18px;
	margin-top: -18px;
	text-align: justify;
}
.s4 img {
	float: left;
	width: 250px;
	height: auto;
	margin-top: 20px;
	margin-left: 20px;
}
/* Section 4 end*/

/* Section 5 start */
.s5 {
	margin: 0;
	background-color: white;
	width: 100%-2%;
	height: 492px;
}
.s5 p {
}
/* Section 5 end */

/* dw.html */
/* Section 6 start */
.s6 {
	margin: 0;
	padding: 2px;
	background-color: white;
	width: 100%-2%;
	height: 50px;
	border-bottom: 1px solid lightgrey;
}
.s6 h1 {
	font-family: fabrica;
	text-align: center;
	line-height: 10px;
	font-weight: 200;
	letter-spacing: 2px;
}
/* Section 6 end */

/* dw start */
.dw {
	margin: 0;
	background-color: white;
	width: 100%-2%;
	height: 100%;
	overflow: hidden;
}
.dw p {
	margin-top: -20px;
	margin-left: 30px;
	font-size: 18px;
	font-family: fabrica;
	line-height: 100px;
	margin-bottom: -35px;
}
.a1 {
	margin-top: 10px;
}
article {
	margin-bottom: 100px;
}
article img {
	width: 300px;
	height: auto;
	margin-left: 40px;
	margin-right: 20px;
	float: left;
}
article h1 {
	font-family: fabrica;
	text-decoration: underline;
}
article p {
	font-family: fabrica;
	margin-top: -10px;
}
article a{
	border : 1px solid orange;
	padding: 8px;
	text-decoration: none;
	background-color: #666;
	color: white;
}
article a:hover {
	opacity: .7;
}
